<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>OffCampusFood</display-name>
	<!--<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted Access - HTTPS only</web-resource-name>
			<url-pattern>/login</url-pattern>
			<url-pattern>/updateInfo</url-pattern>
			<url-pattern>/checkout</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint> -->
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<res-ref-name>dbPool</res-ref-name>
		<res-type>oracle.jdbc.pool.OracleDataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<description></description>
		<display-name>WelcomeController</display-name>
		<servlet-name>WelcomeController</servlet-name>
		<servlet-class>edu.jhu.cs605782.ui.WelcomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeController</servlet-name>
		<url-pattern>/index.htm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginUser</display-name>
		<servlet-name>LoginUser</servlet-name>
		<servlet-class>edu.jhu.cs605782.ui.LoginUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginUser</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateInfoController</display-name>
		<servlet-name>UpdateInfoController</servlet-name>
		<servlet-class>edu.jhu.cs605782.ui.UpdateInfoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateInfoController</servlet-name>
		<url-pattern>/register</url-pattern>
		<url-pattern>/editInfo</url-pattern>
		<url-pattern>/updateInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutUser</display-name>
		<servlet-name>LogoutUser</servlet-name>
		<servlet-class>edu.jhu.cs605782.ui.LogoutUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutUser</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditCreditCardsController</display-name>
		<servlet-name>EditCreditCardsController</servlet-name>
		<servlet-class>edu.jhu.cs605782.ui.EditCreditCardsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditCreditCardsController</servlet-name>
		<url-pattern>/editCC</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditMenuController</display-name>
		<servlet-name>EditMenuController</servlet-name>
		<servlet-class>edu.jhu.cs605782.ui.EditMenuController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditMenuController</servlet-name>
		<url-pattern>/editMenu</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RestaurantSearchController</display-name>
		<servlet-name>RestaurantSearchController</servlet-name>
		<servlet-class>edu.jhu.cs605782.ui.RestaurantSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestaurantSearchController</servlet-name>
		<url-pattern>/restSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OrderMenuController</display-name>
		<servlet-name>OrderMenuController</servlet-name>
		<servlet-class>edu.jhu.cs605782.ui.OrderMenuController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderMenuController</servlet-name>
		<url-pattern>/orderMenu</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<display-name>OrderController</display-name>
		<servlet-name>OrderController</servlet-name>
		<servlet-class>edu.jhu.cs605782.ui.OrderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderController</servlet-name>
		<url-pattern>/orderMenu2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditOrders</display-name>
		<servlet-name>EditOrders</servlet-name>
		<servlet-class>edu.jhu.cs605782.ui.EditOrders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditOrders</servlet-name>
		<url-pattern>/editOrders</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckoutController</display-name>
		<servlet-name>CheckoutController</servlet-name>
		<servlet-class>edu.jhu.cs605782.ui.CheckoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckoutController</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
</web-app>